	/*******************************
		공통 style sheet
	********************************/
/*	.content{border:1px solid orange;}
	.login{border:1px solid blue;}*/
	
	section.login {
	/*	border:1px solid red;*/
		height:auto;
		margin: 0px 0px -150px 76px;
		padding-bottom: 100px;
	}
	section.login > h1 {
	/*	border-left:15px solid #333;
		border-bottom:1px solid #333;*/
		width:30%;
		font-size:25pt;
		padding:3px 0 5px 20px;
		margin:30px 0 30px 100px;
	}
	section.login > h2 + form {
	/*	border:1px solid green;*/
		width:80%;
		margin:auto;
		padding-right: 0px;
	}
	section.login h2 {
		margin:0 0 40px 130px;
	}
	.btn_style {
	 	font-size:10pt;
	 	font-weight:700;
	 	width:130px;
	 	padding:10px 0;
	 	background: #534bae;
	 	color: #D2D2FF;/* #FFDDEF;*/
	 	border:1px solid white;
	 	outline:1px double #A0A0FF;
	 	margin-right:10px;
	}
	 .btn_style:hover {
	  background-color: #8C8CFF;
	 	color: #000069;
	}    
	
	.btn_style2 {  
	 	font-size:9pt;
	 	width:70px;
	 	padding:9px 0;
	 	background: #5A5AFF;
	 	color: white;
	 	border:1px solid white;
	 	border-radius:8px;
	 	margin-left:5px;
	 	border:1px solid white;
	 	outline:1px double #A0A0FF;
	 	font-weight:bold;
	}
	 .btn_style2:hover {
	  background-color: #8C8CFF;
	}    
	
	.btn_style3 {
	 	font-size:10pt;
	 	font-weight:700;
	 	width:100px;
	 	padding:8px 0;
	 	background:tomato;
	 	color:white;
	 	border:1px solid white;
	 	outline:1px double red;
	 	margin-right:10px;
	 	border-radius:5px;
	}
	
    /*****************************************
        회원가입  style
    ******************************************/
    form[name="joinForm"] ul {
        list-style-type:none;
        font-size:10pt;
    	font-family:"Poppins", sans-serif;
    	padding-left:100px;
    }
    
    form[name="joinForm"] ul label {
        background: #f0f0ff;
     /*   background:#e1e1ff;*/
        color: #000069;
        width:150px;
        display:inline-block;
        text-align:center;
        padding:10px 0;
        border-radius:5px;  
        float:left; 
        margin-right:10px;
        margin-bottom:7px;
        font-weight:bold;
    }
    form[name="joinForm"] ul li  { clear:left; }    
    input:focus {
	  /*box-shadow: none;*/
	  border: 1px solid #534bae;
	}
	form[name="joinForm"] input {
		height: 40px;
	}
    .input1 {
        width:35%;
        padding:20px 10px;
        border-radius:4px;
        border:2px solid #B4B4FF;
    }
    .email {
        width:16%;
        padding:20px 10px;
        border-radius:4px;
        border:2px solid #B4B4FF;
    }
    #email3 {
        padding: 9.5px 0px 9.5px 35px;
    }
    form[name="joinForm"] li:last-child {
        /*text-align:center;*/
        margin-top:30px;
        margin-left:140px;
    }
    form[name="joinForm"] input[name="email2"] +select, select[name="hp1"] {
        margin-left:10px;
    }
    
    
    
    